.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.feather-16 {
    width: 16px;
    height: 16px;
}

.feather-18 {
    width: 18px;
    height: 18px;
}

.feather-24 {
    width: 24px;
    height: 24px;
}

.feather-32 {
    width: 32px;
    height: 32px;
}